In [1]:
#Doing data separation

import pandas as pd

#Reading the original file.
df = pd.read_csv("insurance.csv")

df

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

In [2]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [12]:
# Dividin data into 6 file with new name
# making new folder
import os
os.mkdir("Training_Batch_Files")

In [13]:
# Creating good files 6 good files
fol = "Training_Batch_Files" # Folder directory

df1 = df.iloc[:200, :]
df1.to_csv(fol + "/insurance_30102021_120000.csv", index=False) # new file name with data and time stamp.

df2 = df.iloc[201:400, :]
df2.to_csv(fol + "/insurance_01112021_500000.csv", index=False) 

df3 = df.iloc[401:600, :]
df3.to_csv(fol + "/insurance_02112021_150000.csv", index=False)

df4 = df.iloc[601:800, :]
df4.to_csv(fol + "/insurance_03112021_230000.csv", index=False)

df5 = df.iloc[801:1000, :]
df5.to_csv(fol + "/insurance_04112021_170000.csv", index=False)

df6 = df.iloc[1001:, :]
df6.to_csv(fol + "/insurance_05112021_210000.csv", index=False)

In [14]:
# Creating bad files 5 bad files
df2 = df.iloc[201:400, :]
df2.to_csv(fol + "/isura1112021_500000.csv", index=False) 

df3 = df.iloc[401:600, :]
df3.to_csv(fol + "/isurce_0211201_000.csv", index=False)

df4 = df.iloc[601:800, :]
df4.to_csv(fol + "/suance_0311202230000.csv", index=False)

df5 = df.iloc[801:1000, :]
df5.to_csv(fol + "/insurace4112021_17000.csv", index=False)

In [20]:
# Creating good prediction batch file 3 file:
os.mkdir("Prediction_Batch_Files")

fol = "Prediction_Batch_Files" # prediction batch folder.

df1 = df.iloc[:200, :]
df1.drop("expenses", axis=1,inplace=True) # droping target columns.
df1.to_csv(fol + "/insurance_50102021_120000.csv", index=False) # new file name with data and time stamp.


df2 = df.iloc[201:400, :]
df2.drop("expenses", axis=1, inplace=True) # droping target columns.
df2.to_csv(fol + "/insurance_25112021_120000.csv", index=False) 

df3 = df.iloc[401:600, :]
df3.drop("expenses", axis=1, inplace=True) # droping target columns.
df3.to_csv(fol + "/insurance_14112021_150000.csv", index=False)

e:\anaconda3\envs\insurance_env\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [21]:
# CReating bad prediction file.
df1 = df.iloc[:200, :]
df1.drop("expenses", axis=1,inplace=True) # droping target columns.
df1.to_csv(fol + "/insur02021_12000.csv", index=False) # new file name with data and time stamp.


df2 = df.iloc[201:400, :]
df2.drop("expenses", axis=1, inplace=True) # droping target columns.
df2.to_csv(fol + "/insance_25111_1200.csv", index=False) 

df3 = df.iloc[401:600, :]
df3.drop("expenses", axis=1, inplace=True) # droping target columns.
df3.to_csv(fol + "/uran112021_150000.csv", index=False)

e:\anaconda3\envs\insurance_env\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [24]:
fol = "Training_Batch_Files"
df6 = df.iloc[1001:, :]
df6.to_csv(fol + "/insurance_06112021_230000.csv", index=False) # For putting nan columns. 22, 23 put nan

In [26]:

fol = "Prediction_Batch_Files" # prediction batch folder. 
df3 = df.iloc[401:600, :]
df3.drop("expenses", axis=1, inplace=True) # droping target columns.
df3.to_csv(fol + "/insurance_14112021_230000.csv", index=False) # For nan columns 22, 22 put nan

e:\anaconda3\envs\insurance_env\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(