In [12]:

# reading a file
import pandas as pd
import numpy as np

# file= pd.read_csv("test_data2.csv")
file = "test_data2.csv"

In [5]:
table_name = "Ttable"

In [13]:
# query for creating table
create_table_query = f"create table {table_name}(column_count int, "
# query for inserting data
insert_into_table_query = f"insert into {table_name}(column_count , "

In [16]:
# pd.read_csv(file).dtype

In [15]:
# Creating list of column names with adding datatypes after "__dt__"
columns = [col + "__dt__" + str(pd.read_csv(file)[col].dtype) for col in pd.read_csv(file).columns]
columns

['Name__dt__object', 'Age__dt__int64', 'Gender__dt__object']

In [17]:
# adding column names to query
for col in columns:
    create_table_query += f"{col} text, "
    insert_into_table_query += f'{col}, '

In [18]:
create_table_query

'create table Ttable(column_count int, Name__dt__object text, Age__dt__int64 text, Gender__dt__object text, '

In [19]:
insert_into_table_query

'insert into Ttable(column_count , Name__dt__object, Age__dt__int64, Gender__dt__object, '